*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    display: flex;
    background-image: url('wp9237143-alone-pc-wallpapers.jpg');
    justify-content: center;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    background-color: rgb(211, 126, 21);
}

.main-header{
    padding: 4px; 
   box-shadow: 0px 0px 10px #830a0a;
}

.main-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.main-logo{
    width: 100px;
    height: 50px;
}

#main-nav-ul{
    list-style: none;
    display: grid;
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}

#main-nav-ul li a{
 text-decoration: none;
}


#main-nav-ul li a:hover{
    color: red
}

.con{
    background-color: pink;
    width: 400px ;
    height: 500px;
    margin: auto;
    padding-top: 50px;
    margin-top: 100px;
    

}
