*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main-header{
    padding: 4px; 
   box-shadow: 0px 0px 10px #888888;
}

.main-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.main-logo{
    width: 100px;
    height: 50px;
}

#main-nav-ul{
    list-style: none;
    display: grid;
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}

#main-nav-ul li a{
 text-decoration: none;
}


#main-nav-ul li a:hover{
    color: red
}


            /* css style  */
.c_form{
    padding: 0px;
    margin: 0;
    display: flex;
    justify-content:center;
    background-image:url(./Assets/contact-bg.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    /* align-items:center; */
}
.c_form h3{
    align-items: center;
    padding: 12px;
    justify-content: center;
}
.form_container{
    padding: 14px;
    align-items: center;
    width: 100vw;
    max-height: max-content;
    margin: 100px;
    border: 1px solid #8f7878;
    border-radius: 20px;
    box-shadow: #420b0b;
    width: fit-content;
    background-color: rgb(196, 196, 202);
} 
.c_form button{
    background-color: rgb(166, 199, 199);
    border-radius: 20px;
    margin-bottom: 15%;
    margin-top: 10%;
    font-size: larger;
    /* border: ; */
}
.place-h{
    font-weight: bolder;

}
.contact-info {
    text-align: center;
    padding: 20px;
    background-color: rgb(196, 196, 202);
    align-items: center;
    /* max-height: max-content; */
    margin-top: 100px;
    border: 1px solid #8f7878;
    border-radius: 20px;
    width: 20%;
}

.contact-info h2 {
    margin-bottom: 20px;
}