@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

.main-header{
    padding: 4px; 
    box-shadow: 0px 0px 10px #888888;
}

.main-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-logo{
    width: 100px;
    height: 50px;
}

#main-nav-ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}

#main-nav-ul li a{
    text-decoration: none;
}

#main-nav-ul li a:hover{
    color: red;
}

section{
    background: #fff;
    width: 100%;
    height: 100vh;
    padding: 10px;
}
#contact-section{
    width: 100%;
    padding: 10px;
    background-image: url(Assets/6843627.jpg);
}
.contact-header{
    text-align: center;
    font-size: 40px;
    font-family: "Anton", sans-serif;
    letter-spacing: 2px;
    color: #f1eff2;
}
.contact-header span,
.info-wrap span{
    color: #00abf0;
}
.box-wrapper{
    position: relative;
    display: table;
    width:90%;
    margin:auto;
    margin-top:35px;
    border-radius: 30px;
}
.info-wrap{
    width:50%;
    height: 551px;
    padding: 40px;
    float: left;
    display: block;
    border-radius: 30px 0px 0px 30px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(35px);
    color: #fff;
}
.info-title{
    text-align: left;
    font-size: 28px;
    letter-spacing: 0.5px;
}
.location iframe{
    max-width: 100%;
    height: 280px;
    border-radius: 10px;
}
.info-details {
    list-style: none;
}
.info-details li {
    margin-top: 15px;
    font-size: 17px;
    color: #fff;
}
.info-details li i {
    background: #00abf0;
    padding: 12px;
    border-radius: 50%;
    margin-right: 5px;
}
.info-details li a {
    color: #fff;
    text-decoration: none;
}
.info-details li a:hover {
    color: #00abf0;
}
.social-icons {
    list-style: none;
    text-align: center;
    margin: 10px 0px;
}
.social-icons li {
    display: inline-block;
}
.social-icons li i {
    background: #00abf0;
    color: #fff;
    padding: 10px;
    font-size: 15px;
    border-radius: 22%;
    margin: 0px 5px;
    cursor: pointer;
    transition: all .5s;
}
.social-icons li i:hover {
    background: #fff;
    color: #31279d;
}
.form-wrap{
    width:50%;
    height: 551px;
    float: right;
    padding:40px 25px 35px 25px;
    border-radius: 0px 30px 30px 0px;
    background: #f1eff2;
    border-left: 3px solid #ffffff;
}
.form-title{
    text-align: left;
    margin-left: 23px;
    font-size: 28px;
    letter-spacing: 0.5px;
}
.form-fields{
    display: table;
    width: 100%;
    padding: 15px 5px 5px 5px;
}
.form-fields input,
.form-fields textarea{
    border: none;
    outline:none;
    background: none;
    font-size: 18px;
    color:#555;
    padding: 20px 10px 20px 5px;
    width:100%
}
.form-fields textarea{
    height: 150px;
    resize: none;
}
.form-group{
    width: 46%;
    float: left;
    padding: 0px 30px;
    margin: 14px 12px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}
.form-fields .form-group:last-child {
    width: 96%;
}
.submit-button{
    width: 96%;
    height: 60px;
    margin: 0px 12px;
    border-radius: 30px;
    font-size: 20px;;
    font-weight: 700;
    outline: none;
    border:none;
    cursor: pointer;
    color:#fff;
    text-align: center;
    background: #00abf0;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: .5s;
}
.submit-button:hover{
    background: #31279d;
}
/* Responsive css */
@media only screen and (max-width: 767px) {
    .box-wrapper{
        width: 100%;
    }
    .info-wrap,
    .form-wrap{
        width: 100%;
        height: inherit;
        float: none;  
    }
    .info-wrap{
        border-radius: 30px 30px 0px 0px;
    }
    .form-wrap{
        border-radius: 0px 0px 30px 30px;
    }
    .form-group{
        width: 100%;
        float: none;
        margin: 25px 0px;
    }
    .form-fields .form-group:last-child, 
    .submit-button{
        width: 100%;
    }
    .submit-button{
        margin: 10px 0px;
    }

}